*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 28px;
}
#logo{
	z-index: 2;
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
	width: 160px;
}
#title-text-1{
	position: absolute;
	left:150px;
	top: -20px;
	cursor: default;
}
#title-text-2{
	position: absolute;
	left:200px;
	top: 15px;
	cursor: default;
	color: #0071bc;
}
#title-text-3{
	position: absolute;
	left:250px;
	top: 47px;
	cursor: default;
}
/*Navigation Below*/

#top-nav{
	z-index: 2;
	position: relative;
	top: 42px;
	left: 250px;
	height: 35px;
	width: calc(100% - 250px);
}
.nav-circles{
	display: inline-block;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	width: 55px;
	height: 55px;
}
.button-with-words{
	margin-top: 2px;
	padding-left: 6px;
	padding-right: 6px;
	top: -25px;
	display: inline-block;
	position: relative;
	z-index: 1;
	border: 2px solid white;
	border-right: none;
	border-top: none;
	height: 75px;
}
.button-with-words:not(#development-button){
	margin-right: 5%;
}

.nav-circles:hover{
	background-color: #231f20;
	cursor: pointer;
}
.current{
	display: inline-block;
	z-index: 1;
	background-color: #231f20;
	border-radius: 50%;
	width: 55px;
	height: 55px;
}
.nav-images{
	position: relative;
	display: block;
	left: 3px;
	top: 7px;
}
.nav-text{
	position: relative;
	display: inline-block;
	top: -14px;
	color: white;
	float: left;
	font-size: .9em;
	text-align: center;
}
#home-button{
	position: relative;
	left: 20px;
	top: 185px;
}
/*Navigation Above*/

/*background below*/
.background-shapes{
	position: absolute;
	padding: 0;
	margin: 0;
}
#body-square{
	position: relative;
	margin-top: 95px;
	margin-bottom: 10px;
	background-color: #231f20;
	width: 100%;
	min-height: 500px;
	padding-bottom: 10px;
}

#body-trapezoid {
	top: 120px;
	left: 150px;
	border-bottom: 100px solid #231f20;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: calc(100% - 250px);
}
/*background above*/
#side-text-container{
	color: white;
	display: inline-block;
	border: 3px solid white;
	position: relative;
	vertical-align: top;
	padding: 5px;
	top: 80px;
	min-height: 800px;
	width: 300px;
	margin-left: 10px;
	margin-right: 20px;
}
#slideshow{
	display: inline-block;
	position: relative;
	z-index: 2;
	width: 55vw;
	height: 55vw;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
#contact-info-container{
	position: relative;
	width: 100%;
}
#contact-info-bot{
	display: block;
	position: relative;
	z-index: 2;
	color:  #0071bc;
	width: 600px;
	margin-left: 10px;
	margin-right: auto;
	padding-right: 10px;
}