*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 28px;
}

.container-fluid .row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-inverse{
	background-color: #231f20;
	border-left: none;
}
.green-text{
	color:#6dc065;
}
#logo{
	top: 20px;
	left:20px;
	z-index: 2;
	position: absolute;
	width: 140px;
}
#title-text-1{
	position: absolute;
	left:150px;
	top: 0px;
	cursor: default;
}
#title-text-2{
	position: absolute;
	left:200px;
	top: 40px;
	cursor: default;
	color: #0071bc;
}
#title-text-3{
	position: absolute;
	left:250px;
	top: 80px;
	cursor: default;
}
/*Navigation Below*/

#top-nav{
	z-index: 2;
	position: relative;
	top: 42px;
	left: 250px;
	height: 35px;
	width: calc(100% - 250px);
}
#side-nav{
	z-index: 3;
	width: 150px;
}
.nav-circles{
	display: inline-block;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	width: 3vw;
	height: 3vw;
	min-height: 55px;
	min-width: 55px;
	box-shadow: -5px 5px #0071bc;
}
.nav-circles:hover{
	background-color: #231f20;
	box-shadow: -5px 5px #6dc065;
	cursor: pointer;
}

.current{
	display: inline-block;
	z-index: 1;
	background-color: #231f20;
	border-radius: 50%;
	width: 4vw;
	height: 4vw;
	min-height: 55px;
	min-width: 55px;
	max-height: 70px;
	max-width: 70px;
	box-shadow: -5px 5px #6dc065;
}
.button-with-words{
	margin-top: 2px;
	padding-left: 6px;
	padding-right: 6px;
	display: inline-block;
	position: relative;
	z-index: 1;
	height: 75px;
}
.button-with-words:not(#development-button){
	margin-right: 5%;
}
@media (min-width: 1024px){/*Big media*/
		#top-nav{
		z-index: 2;
		position: relative;
		top: 42px;
		left: 250px;
		height: 35px;
		width: calc(100% - 250px);
	}
	.button-with-words{
		top: -25px;
	}
}
@media (max-width: 1024px){ /*Small media*/
		#top-nav{
		z-index: 2;
		position: relative;
		top: 180px;
		left: 20px;
		height: 35px;
		width: 55px;
	}
	.button-with-words{
		margin-bottom: 10px;
		right: 0;
	}
}
.nav-images{
	width: 80%;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: .6vw;
	bottom: 0;
	margin:auto;
}
.nav-text{
	position: relative;
	display: inline-block;
	top: -14px;
	color: white;
	float: left;
	font-size: .9em;
	text-align: center;
}
#home-button{
	position: relative;
	left: 20px;
	top: 185px;
}
/*Navigation Above*/

/*background below*/
.background-shapes{
	position: absolute;
	padding: 0;
	margin: 0;
}
#body-square{
	position: relative;
	margin-top: 200px;
	margin-bottom: 10px;
	background-color: #231f20;
	width: 100%;
	min-height: 1000px;
	padding-bottom: 20px;
}

#body-trapezoid {
	top: 150px;
	left: 150px;
	border-bottom: 100px solid #231f20;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: calc(100% - 150px);
}

#bottom-rectangle{
	opacity: .5;
	position: absolute;
	bottom: 0;
	height: 5%;
	width: 25%;
	max-width: 350px;
}
/*background above*/
.important-text{
	color: #6dc065;
	font-weight: bold;
}
#side-text-container{
	padding-top: 80px;
	color: white;
	display: inline-block;
	border-left: 5px solid white;
	position: relative;
	vertical-align: top;
}
#picture-of-me{
	width: 100%;
	max-width: 165px;
	box-shadow: 50px 20px #0071bc;
}
.more-info-box{
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	z-index: 4;
	background-color: #231f20;
	border:solid white 5px;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	color: white;
}
.more-info-box-img-box{
	align-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: white solid 5px;
}
.more-info-img {
	position: relative;
	width: 50%;
    display: block;
    margin: 0 auto;
}
.more-info-text {
	position: relative;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}
#home-animation{
	background: url("../images/backgroundbubbles.png");
	background-size: 42%;
	overflow: scroll;
	overflow-x:hidden;
	display: inline-block;
	background-color: #231f20;
	position: relative;
	z-index: 1;
	margin-left: 25px;
	margin-top: 80px;
	box-shadow: 25px 20px #6dc065;
	height: 50vw;
	min-height: 800px;
	border: solid #0071bc 7px;
}
.home-animation-btn-title{
	font-size: calc(10px + 1.5vw);
}
.home-animation-btn{
	background-color: #6dc065;
	font-size: calc(8px + 1.2vw);
}
.bordered{
	border: white solid 5px;
	border-bottom: none;
}
#home-animation-heading{
	padding-top: 2%;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: calc(12px + 2vw);
	background-color: #0071bc;
}

.home-animation-links{
	opacity: .95;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.home-animation-container{
	position: relative;
	display: inline-block;
	margin-top: 20px;
	width: 16vw;
	min-width: 192px;
	bottom: 0px;
}
.home-animation-info {
	padding: 10px;
	font-size: calc(14px + 1vw);
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 2;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -65%);
    color: white;
    background-color: #231f20;
    border-radius: 10%;
    opacity: 0;
}
.small-text{
	font-size: calc(12px + .4vw);
}
/*Use this if phone text is too small
@media (min-width: 1024px){Big media
	.small-text{
	font-size: calc(12px + .5vw);
	}
	.home-animation-info {
	font-size: calc(16px + 1vw);
	}
}


@media (max-width: 1024px){small media
	.small-text{
	font-size: calc(20px + .5vw);
		}
	.home-animation-info {
	font-size: calc(20px + 1vw);
	}
}
*/
.close-button{
	position: absolute;
	right: 5px;
	top: 5px;
}
.close-button:hover{
	cursor: pointer;
}
.home-animation-info:hover{
	cursor: pointer;
	opacity: .7;
}

#contact-icon{
	position: absolute;
	top: -315px;
	right: 0px;
	opacity: 1;
	z-index: 3;
	width: 20%;
	max-width: 400px;
}
#contact-icon:hover{
	fill: #0071bc;
	cursor: pointer;
}
#contact-form{
	margin-top: 10%;
	display: block;
	position: fixed;
	text-align: center;
	font-size: 16px;
	margin-right: 15%;
	margin-left: 15%;
	z-index: 4;
	left:50px;
	background-color: white;
	padding: 10px;
	border:5px solid black;
}
.hidden{
	display: none;
}
#grey-out{
	top: 0;
	position: fixed;
	z-index: 3;
	background-color: #231f20;
	opacity: .95;
	width: 100%;
	height: 100%;
}
input[type=text]{
	width: 60%;
	margin-bottom: 5px;
}
input[type=submit]{
	color: white;
	font-size: 16px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	margin-top: 5px;
	background-color: #0071bc;
}
input[type=submit]:hover{
	
	background-color: #6dc065;
}
textarea{
	height: 50px;
	width: 60%;
}
#contact-info-container{
	z-index: 2;
	background-color: white;
	display: block;
	bottom:0;
	position: relative;
	height: 100px;
	width: 100%;
}
#contact-info-bot{
	font-size: 20px;
	display: block;
	width: 100%;
	margin-top: 20px;
	background-color: white;
	position: absolute;
	text-align: center;
	z-index: 2;
	color:  #0071bc;
	margin-right: auto;
	padding-bottom: 10px;
}

.app-showcase-nav{
}
.app{
	padding-left: 30px
	margin-left: 30px;
}
/*blackjack below this line*/
#dealer{
	margin-left: 25%;
	border: 2px solid white;
	position: absolute;
	width: 50%;
	height: 20%;
}
#dealer-total{
	position: absolute;
	bottom:0px;
	color: white;
}
#left{
	float: left;
	top: 40%;
	position: relative;
	width: 40%;
	height: 20vw;
	max-height: 300px;
	min-height: 200px;
	border: 2px solid white;
	margin-left: 5px;
}
#right{
	display: block;
	float: right;
	margin-right: 5px;
	top: 40%;
	position: relative;
	width: 40%;
	height: 20vw;
	max-height: 300px;
	min-height: 200px;
	border: 2px solid white;
}
#player-total-left{
	z-index: 1;
	margin-left: 10px;
	position: relative;
	bottom:0;
	color: white;
}
#player-total-right{
	z-index: 1;
	position: relative;
	left:10px;
	color: white;
}
#bet-text{
	display: none;
	z-index: 2;
	top: 50%;
	position: absolute;
	color: blue;
	font-size: 50px;
}
#game-text-left{
	display: none;
	z-index: 1;
	position: absolute;
	top: 50%;
	width: 40%;
	color: white;
	background-color: red;
	text-align: center;
	font-size: 50px;
}
.cards-player{
	margin-right: -20px;
	position: relative;
	bottom: 0px;
	height: 80px;
	width: 50px;
	background-color: white;
	border: 1px black solid;
	float: left;
}
.cards-player-face-down{
	margin-right: -20px;
	position: relative;
	bottom: 0px;
	height: 80px;
	width: 50px;
	background-color: red;
	border: 1px white solid;
	float: left;
}
#table{
	display: inline-block;
	position: relative;
	z-index: 2;
	height: 55vw;
	margin-bottom: 200px;
	margin-top: 80px;
	margin-left: 10px;
	margin-right: auto;
	background-color: green;
	border: 5px solid white;
	min-height: 600px;
	max-height: 800px;
}
#split{
	z-index: 1;
	float: left;
	display: inline-block;
	color: white;
	position: relative;
	height: 90px;
	background-color: black;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}
#double-down{
	z-index: 1;
	display: none;
	float: left;
	color: white;
	position: relative;
	height: 90px;
	line-height: 45px;
	background-color: orange;
	text-align: center;
	cursor: pointer;
}
#hit{
	display: none;
	float: left;
	z-index: 1;
	color: white;
	position: relative;
	height: 90px;
	line-height: 45px;
	background-color: blue;
	text-align: center;
	cursor: pointer;
}
#deal{
	display: inline-block;
	top: 0;
	float: left;
	z-index: 2;
	color: white;
	position: relative;
	height: 90px;
	width: 50%;
	background-color: blue;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}
#stand{
	display: none;
	float: left;
	z-index: 1;
	color: white;
	position: relative;
	height: 90px;
	line-height: 45px;
	background-color: red;
	text-align: center;
	cursor: pointer;
}
.black-jack-buttons{
	width: calc(24% - 10px);
	min-width: 72px;
	border: white solid 2px;
	border-radius: 5%;
	margin-left: 10px;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}
.black-jack-buttons:hover{
	background-color: green !important;
}
#black-jack-buttons-container{
	position: absolute;
	bottom: 15px;
	height: 100px;
	width: 80%;
	min-width: 340px;
	border-left: solid white 5px;
}
.active{
	background-color: darkgreen;
}

/*calendar below*/
.month-label{
	position: relative;
	z-index: 1;
	top: 0px;
	font-size: 3vw;
	line-height: 130px;
	font-family: georgia;
	color: #1a1a1a;
	background-color: 273326;
	color: white;
	width: 100%;
	height: 130px;
}
.month-name{
	cursor: default;
	display: none;
	float: left;
}
.year-name{
	margin-left: 50px;
	float: right;
}
.month{
	display: none;
	position: relative;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.week-label{
	position: sticky;
	overflow: hidden;
	top: 0px;
	width: 14%;
	height: 50px;
	border: 2px solid black;
	background-color: 9dad87;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	float: left;
}

.cal-body{
	width: 14%;
	height: 10vw;
	background-color: white;
	border: 2px solid black;
	float: left;
}

.cal-void{
	width: 14%;
	height: 10vw;
	background-color: grey;
	border: 2px solid black;
	float: left;
}

.day{
	font-size: 5vw;
	width: 100%;
	height: 20px;
	background-color: 273326;
	text-align: center;
	color: black;
	float: left;
}

#leap-day{
	display: none;
}

#prev-month{
	position: relative;
	z-index: 1;
	float: left;
	margin-top: 5px;
	margin-right: 20px;
 	width: 0; 
  	height: 0; 
  	border-top: 60px solid transparent;
  	border-bottom: 60px solid transparent; 
	border-right:30px solid white;
	background-color: none;
	opacity: .3;
}

#next-month{
	position: relative;
	z-index: 1;
	float: right;
	margin-top: 5px;
	margin-left: 60px;
 	width: 0; 
  	height: 0; 
  	border-top: 60px solid transparent;
  	border-bottom: 60px solid transparent; 
	border-left:30px solid white;
	background-color: none;
	opacity: .3;
}

#next-month:hover, #prev-month:hover{
	opacity: 1;
	cursor: pointer;
}